@use "../../presets/" as *;
@use "../../mixins/" as *;

.header-menu {
  position: absolute;
  z-index: 2;
  top: 10px;
  right: 0px;
  left: 0;

  &__container {
    display: flex;
    align-items: center;

    @extend %container;
    gap: $gap;
  }
}
