@use "../../presets/" as *;
@use "../../mixins/" as *;

.header-navbar {
  width: 100%;
  flex-grow: 1;
  &__btn {
    width: 30px;
    height: 22.5px;
    position: relative;
    margin: 25px 0 25px auto;
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
    cursor: pointer;
    @include md-min {
      display: none;
    }
    &-row {
      display: block;
      position: absolute;
      height: 3px;
      width: 100%;
      background: $color-light;
      border-radius: 3px;
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: 0.25s ease-in-out;

      &:nth-child(1) {
        top: 0px;
      }
      &:nth-child(2) {
        top: 9px;
      }

      &:nth-child(3) {
        top: 18px;
      }
    }
    &--active span {
      &:nth-child(1) {
        top: 9px;
        transform: rotate(135deg);
      }

      &:nth-child(2) {
        opacity: 0;
        left: -30px;
      }

      &:nth-child(3) {
        top: 9px;
        transform: rotate(-135deg);
      }
    }
  }

  &__list {
    @include lg-min {
      margin: 9px -20px 0 0;
    }

    @include lg-md {
      margin: 10px -20px 0 0px;
    }

    @include md-min {
      display: grid;
      justify-content: end;
      margin: 10px -20px 0 0;
      grid-template-columns: repeat(auto-fit, minmax(50px, max-content));
      @include unlist(0 -20px 0 0);
    }

    @include md {
      display: none;
      @include unlist;
      position: absolute;
      right: 20px;
      background-color: rgba($color-gray-dark, 0.95);
      top: 100%;
      text-align: right;
      @include box-shadow;
    }
  }

  &__item {
    margin: $gap-sm;
  }

  &__link {
    display: block;

    @include md-min {
      padding: $gap $gap-sm;
    }

    @include md {
      padding: $gap-sm $gap;
    }

    font-size: 18px;
    letter-spacing: 0.089em;
    transition: color 0.5s;
    &:hover,
    &:focus {
      color: $color-accent;
    }
  }
}
