@use "../presets/" as *;
@use "../mixins/" as *;

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  border: 2px solid $color-light;
  padding: 0.5em 1em;
  letter-spacing: 0.1em;
  transition: background-color 0.5s;

  &:hover,
  &:focus {
    background-color: $color-accent;
  }

  &--light {
    background-color: rgba($color-light, 0.1);

    @include lg-min {
      min-width: 250px;
      height: 60px;
      font-size: 1.125rem;
    }

    @include lg-md {
      min-width: 200px;
      height: 50px;
    }

    @include md {
      min-width: 170px;
      height: 40px;
    }
  }

  &--primary {
    height: 60px;
    background-color: rgba($color-primary, 0.8);
    border: 2px solid #2d3651;
    font-size: 1.125rem;

    @include sm-min {
      width: 350px;
    }

    @include sm {
      width: 100%;
    }
  }
}

.hidden {
  @include visually-hidden;
}
