*,
::before,
::after {
  box-sizing: border-box;
}

html {
font-size: $font-size;
font-family: $font-main;
}

body {
color: $color-primary;
border-color: $color-light;
}

h1 {
font-family: $font-header;
}

a {
text-decoration: none;
color: $color-light;
}